doctype html 
html
  head
    link(rel="stylesheet", href="style.css")
  body
    include nav
    block placeholder
      p content of base file
    block container
      p content of container in base
    block template 
      p content of template in base
    include footer