.tools{
    display: flex;
    justify-content: center;
}
.img-size{
    height:8vh;
}
.sticky{
    height:12rem;
    width:14rem;
    background-color: yellow;
    position: absolute;
    top:20rem;
    left:20rem;
}
/* parent */
.nav-bar{

    height: 20%;
    width:100%;
    background-color: brown;
}
.writingPad{
    height: 80%;
    width:100%;
    background-color: burlywood;
}
.text-area{
    height: 100%;
    width:97%;
}
