/* universal selector */
/* presets */
* {
  margin: 0;
  padding: 0;
  /* ?? */
  box-sizing: border-box;
  font-size: 1rem;
}

html {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* header section*/
.main-heading {
  color: white;
  font-size: 400%;
  /* line -> spacing add */
  line-height: 125%;
  letter-spacing: 0.2rem;
}
.showcase {
  position: relative;
  top: 30vh;
  left: 20vw;
  width: 40vw;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url("../img/header.jpg");
  /* div => default height =>0 */
  height: 100vh;
  background-size: cover;
  text-transform: uppercase;
}
.nav-ul {
  display: flex;
  justify-content: flex-end;
}
.nav-list {
  margin-right: 1rem;
  margin-top: 1rem;
}
.nav-links {
  color: white;
  font-size: 141%;
  padding: 0.5rem;
}
.nav-links:hover {
  border-bottom: 0.1rem solid #e74c3c;
}

.btns-container {
  margin-top: 1.5rem;
}

/* .btns */
/* gneeric styling */
.btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  background-color: #e74c3c;
  margin-right: 1rem;
  border-radius: 2.5rem;
  border: 0.1rem solid #e74c3c;
  font-size: 80%;
  transition: transform 0.3s;
  /* fontfamily */
}

.btn-full {
  color: white;
}
.btn-empty {
  color: #e74c3c;
  background-color: transparent;
  transition: color 0.3s, background-color 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}
.btn-empty:hover {
  color: white;
  background-color: #e74c3c;
}

.span-detector {
  color: #e74c3c;
}
