doctype html
html
  head
    title #{title}
    link(href='https://fonts.googleapis.com/css?family=Lato&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')
    link(rel='stylesheet', href='/css/style.css')
  body
    include nav
    block content
      h1 I am a placeholder where actual content will appear in  child pages
    include footer
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="js/frontend.js")