extends base
block header
  include homeheader  
block content
  section.features
    h2
      | Awesome Features
    .container-parent
      .container
        i.far.fa-calendar-plus.icon
        h3
          | 365 DAYS/YEAR
        p.feature-para
          | Never cook again! We really mean that. Our subscription plans include up to 365 days/year coverage. You can
          | also choose to order more flexibly if that's your style.
      .container
        i.fas.fa-shipping-fast.icon
        h3 30 MINUTES OR FREE
        p.feature-para
          | You're only twenty minutes away from your delicious and super healthy meals delivered right to your home. We
          | work with the best chefs in each town to ensure that you're 100% happy.
      .container
        i.fas.fa-carrot.icon
        h3 100% ORGANIC
        p.feature-para
          | All our vegetables are fresh, organic and local. Animals are raised without added
          | hormones or antibiotics. Good for your health, the environment, and it also tastes better!
