extends base
block content
  h2 User Page
  .profile-container
    h2
      p #{user.name}
      p #{user.email}
      p 
        img(src=`${user.profileImage}`)
      input(type="file", name="").updateProfile
      if user.role=="admin"
        a(href="/manageUsers") Manage Users
        a(href="/managePlans") Manage Plans