extends base
block content
  form.resetPassword(style="margin-top:10rem")
    input(type="password").password
    input(type="password").confirmPassword
    button(type="submit" data-token=`${token}`).btn.btn-full.form-button SEND EMAIL